.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-content {
  display: grid;
  column-gap: 20px;
  text-align: center;
  grid-template-columns: 1fr 1fr;
}

.orange {
  color: orangered;
}
.rating-box{
  border: 1px solid white;
  margin-top: 20px;
  padding: 20px;
}
.purple{
  color: purple;
}
.rating-box > .fa-star{
  cursor: pointer;
  font-size: 20px;
}

