.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}

.App-header {
 
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  color: white;
  display: flex;
  column-gap: 20px;
  text-align: center;
}

.orange {
  color: orangered;
}

